// Import necessary variables if you have a defined color palette
@import '../../../../assets/sass/lbd/variables';

.container {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

h2 {
  color: darken($red-navbar, 9%);
  font-weight: 500;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

h3 {
  color: $dark-gray;
  font-weight: 500;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}
.desc{
  flex: 1 1 70%;
}
mat-form-field {
  flex: 1 1 48%;
  min-width: 250px;
  margin: 10px 0;
}


@media (max-width: 768px) {
  mat-form-field {
    flex: 1 1 100%;
  }

  .actions {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.btn-submit {
  background-color: $primary-color !important;
  color: #fff;
}
