@import "../assets/sass/lbd/variables";

mat-sidenav {
    width: 290px;
    color:$white-color;
    padding: 16px;
    text-align: center;
  //  background-image: url('../../../assets/img/sidebar-1.jpg');
    // opacity: 0.9;
    background-color:$red-navbar;
  }

mat-sidenav-container {
    height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  mat-sidenav {
    width: 275px;
  }
}

@media only screen and (max-width: 767px) {
  mat-sidenav {
    width: 250px;
  }
}

@media only screen and (max-width: 479px) {
  mat-sidenav {
    width: 230px;
  }
}
