<mat-sidenav-container>

    <app-header [sidenav]="sidenav"></app-header>

    <div class="body">
    <router-outlet></router-outlet>
    </div>
    <mat-sidenav #sidenav="matSidenav" [style.width.px]="!sidenav.close ? 80 : 250"
      class="mat-elevation-z8">

        <br>
        <h2 *ngIf="sidenav.close">{{nameProject}}</h2>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span *ngIf="sidenav.close">Profile</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>dashboard</mat-icon>
            <span *ngIf="sidenav.close">Dashboard</span>
        </button>


      <button mat-button class="menu-button" >
        <mat-icon>event_note</mat-icon>
        <span *ngIf="sidenav.close">Services</span>
    </button>

    <button mat-button class="menu-button" [routerLink]="['/product']">
      <mat-icon>poll</mat-icon>
      <span *ngIf="sidenav.close">Products</span>
  </button>

      <button mat-button class="menu-button" >
        <mat-icon>equalizer</mat-icon>
        <span *ngIf="sidenav.close">Analytics</span>
    </button>


        <button mat-button class="menu-button" >
            <mat-icon>assessment</mat-icon>
            <span *ngIf="sidenav.close">Roles</span>
        </button>


            <button mat-button class="menu-button">
                <mat-icon>https</mat-icon>
                <span *ngIf="sidenav.close">Change Password</span>
            </button>

            <mat-divider></mat-divider>


          <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span *ngIf="sidenav.close">Help</span>
        </button>


          <button mat-button class="menu-button">
                <mat-icon>notifications</mat-icon>
                <span *ngIf="sidenav.close">Notifications</span>
            </button>

            <button mat-button class="menu-button">
              <mat-icon>settings</mat-icon>
              <span *ngIf="sidenav.close">settings</span>
          </button>

        </mat-sidenav>
    </mat-sidenav-container>
