
.card {
  width: 100%;
  padding:0px;
  border:0px;
  box-shadow: inset;
}
img{
  cursor: pointer;
  background: #e8e5e5;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 5px;

}
.content{
  margin: 0px  5px;
  margin-bottom: 0px;
}
.name{
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  display: inline-flex;
  height: 40px
}
.type{
  background: rgb(255, 100, 10);
  color: #fff;
  font-size: 13px;
  padding: 0px 3px ;
  font-weight: 500;
  border-radius: 4px;
  float: right;
}
.price{
  margin-left: 5px;
  font-size: 16px;
  font-weight: 530;
}
.cart{
  color: #6e6d6d;
  float: right;
  background: #e7e7e7;
  width: 33px;
  height: 33px;
  text-align: center;
  margin-right: 5px;
  padding: 5px;
  border-radius: 50%;
}
.cart:hover{
  background: rgb(255, 100, 10);
  color: #fff;
  cursor: pointer;
}

.edit-icon{

    color: #fff;
    padding: 6px;
    margin: 8px 0px;
    border-radius: 6px;
    font-size: 26px;
    background: #0cd463;
    width: 40px;
    height: 40px;
    text-align: center;
}
.edit-icon:hover{
  background: darken(#0cd463, 15%);
}

.delete-icon{

  color: #fff;
  padding: 6px;
  margin: 8px 0px;
  border-radius: 6px;
  font-size: 26px;
  background: #f20202;
  width: 40px;
  height: 40px;
  text-align: center;
}
.delete{
  margin-left: 10px;
}
.delete-icon:hover{
  background: darken(#f20202, 15%);
}
mat-card-actions{
  width: 100%;
}
p{
  font-size: 16px;
  word-wrap: break-word;
  width:75%;

}
@media screen {

}
