
<mat-card class="card" >

  <img mat-card-xl-image src="../../../../assets/img/sidebar-3.jpg" [routerLink]="['/product/',prd.code]">

  <p><a [routerLink]="['/product/',prd.code]">{{prd.name}}</a></p>

  <mat-card-actions>
    <a [routerLink]="['/product/',prd.code]">See more</a>

    <a class="edit" title="Edit" [routerLink]="['/product/edit/',prd.code]">
      <mat-icon class="edit-icon">edit</mat-icon>
  </a>
  <a class="delete" title="Delete" (click)="deleteProduct(prd.code)">
    <mat-icon class="delete-icon">delete</mat-icon>
</a>


  </mat-card-actions>
</mat-card>
