
<mat-card class="card" >

  <img  [src]="prd?.fields.images" alt="Product_image" [routerLink]="['/product/',prd.code]"
  onerror="this.onerror = null;this.src='../../../../assets/img/full-screen-image-3.jpg'">

  <div class="content">

      <p><a [routerLink]="['/product/',prd.code]">{{prd.name}}</a></p>

      <mat-card-actions align="end">
          <a [routerLink]="['/product/',prd.code]">See more</a>
          <a class="edit" title="Edit" [routerLink]="['/product/edit/',prd.code]">
            <mat-icon class="edit-icon">edit</mat-icon>
          </a>
          <a class="delete" title="Delete" (click)="deleteProduct(prd.code)">
            <mat-icon class="delete-icon">delete</mat-icon>
          </a>
    </mat-card-actions>
  </div>
</mat-card>
