
<mat-card class="card" >

  <img  [src]="prd.image" alt="Product_image" [routerLink]="['/product/',prd.id]"
  onerror="this.onerror = null;this.src='../../../../assets/img/full-screen-image-3.jpg'">

  <div class="content">

      <p class="name" [routerLink]="['/product/',prd.id]">{{prd.title}}</p>
      <span class="type" *ngIf="prd?.category">{{prd?.category}}</span>
      <span class="type" *ngIf="!prd.category">others</span>

        <div class="rating">
          <mat-icon class="star" *ngFor="let star of stars">
            {{ star <= prd?.rating.rate ? 'star' : 'star_border' }}
          </mat-icon>

      </div>
      <div>
        <span class="price" *ngIf="prd.price">{{prd.price |currency}}</span>
        <span class="cart"><mat-icon>shopping_cart</mat-icon></span>
      </div>
      <mat-card-actions  align="end">
          <a class="edit" title="Edit" [routerLink]="['/product/edit/',prd.id]">
            <mat-icon class="edit-icon">edit</mat-icon>
          </a>
          <a class="delete" title="Delete" (click)="deleteProduct(prd.id)">
            <mat-icon class="delete-icon">delete</mat-icon>
          </a>
    </mat-card-actions>
  </div>
</mat-card>
