@import "../../../../assets/sass/lbd/variables";

.product-container{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 6%;
  overflow: auto;
}
.item{
width: 24%;
}
.btn-add{
  background:darken($red-navbar, 9%) ;
  color: white;
  border-radius: 8px;
  font-size: 17px;
  margin: 2%;

}
.btn-add:hover{
  background: darken($red-navbar,15%);
}


.mat-paginator {
  border: 1px solid #ccc;
  width: 40%;
  margin: 0 auto;
}

.mat-paginator-page-size-label {
  font-size: 15px;
  font-weight: 400;
  float: left;
}


.mat-paginator-container {
  display: flex;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.mat-paginator-container > * {
  margin: auto;
}

@media only screen and (max-width: 1420px) {
  .item{
    width: 31%;
    }
    .mat-paginator {
      width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
  .item{
    width: 47%;
    }
    .mat-paginator {
      width: 70%;
    }
}

@media only screen and (min-width: 300px)and (max-width: 700px) {
  .btn-add{
    border-radius: 8px;
    font-size: 13px;
    margin: 3%;
    padding-left: 2px;
  }
  .mat-paginator {
    width: 90%;
  }

  .mat-paginator-container {
    display: flex;
    height: 30px;
  }

  .mat-paginator-container > * {
  margin: 0px;
  }
}

